 .ipynb_checkpoints
.DS_Store
__pycache__
*.pytest_cache
.gitattributes
!*.zip
/awesome.gif
/zippedData/rt.movie_info.tsv.gz
/zippedData/rt.reviews.tsv.gz
/zippedData/tmdb.movies.csv.gz
/zippedData/tn.movies_bidgets.csv.gz
/untitled.tx
/zippedData/im.db.zip
/LICENSE.md
/movei_data_erd.jpeg
